<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>

<body>
    <form th:action="@{insert}" th:object="${articleForm}" method="post">
        <label for="articleName">投稿者名:</label>
        <input type="text" name="name" id="articleName" th:field="*{name}"><br>
        <label for="articleContent">投稿内容:</label>
        <textarea name="content" id="articleContent" cols="30" rows="4" th:field="*{content}"></textarea><br>
        <button>記事投稿</button>
    </form>
    <hr>
    <div th:each="article:${articleList}">
        <span>投稿者名:</span><span th:text="${article.name}"></span><br>
        <span>投稿内容:</span><br>
        <pre th:text="${article.content}"></pre>
        <div>
        	<a th:href="@{delete?id=} + ${article.Id}"><button>記事削除</button></a>
        </div>
        <div th:each="comment:${article.commentList}">
            <span>コメント者名:</span><span th:text="${comment.name}"></span><br>
            <span>コメント内容:</span><br>
            <pre th:text="${comment.content}"></pre>
        </div>
        <form th:action="@{comment-insert}" th:object="${commentForm}" method="post">
        	<input type="hidden" name="articleId" th:value="${article.id}">
            <label for="commentName">名前:</label><br>
            <input type="text" name="name" id="commentName" th:field="*{name}"><br>
            <label for="commentContent">コメント:</label><br>
            <textarea name="content" id="commentContent" cols="30" rows="4" th:field="*{content}"></textarea><br>
            <button>コメント投稿</button>
        </form>
        <hr>
    </div>
</body>

</html>